/* Common Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}

h1, h2, p {
    margin: 2px 0;
}

p {
    font-size: 11px;
}

#ad-container {
    width: 300px;
    height: 250px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
}
  
.frame {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1.5rem;
    display: flex;
    flex-flow: column;
    background: url('../public/assets/300x250_DCO_MockTest_BG.png') no-repeat;
    background-size: cover;
    opacity: 0;
    visibility: hidden;
    transition: opacity 1s, visibility 1s;
}

.frame1 {
    opacity: 1;
    visibility: visible;
}

.logo {
    width: 100px;
}

.frame-content {
    margin: auto;
    text-align: left;
}

.frame2 .frame-content {
    display: flex;
    align-items: center;
}

.headline-highlighted {
    font-size: 24px;
    color: red;
    font-weight: bold;
    text-align: left;
}

.headline {
    font-size: 18px;
    color: black;
    text-align: left;
}

.subtext {
    font-size: 14px;
    color: gray;
    text-align: left;
}

.price {
    font-size: 22px;
    color: red;
    font-weight: bold;
    text-align: left;
}

.learn-more-btn {
    font-size: 16px;
    background-color: red;
    color: white;
    padding: 5px 10px;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}

.terms-btn {
    position: absolute;
    bottom: 10px;
    left: 20px;
    font-size: 12px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

.carousel {
    position: relative;
    width: 100%; 
    height: 150px; 
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.product-image {
    max-width: 100%; 
    max-height: 100%;
    object-fit: contain;
}

.dots {
    display: flex;
    justify-content: center;
    margin: 5px 0px;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: black;
}
