:root {
    --primary-color: #EE0000;
    --secondary-color: #202237;
}

/* Common Styles */
body {
    margin: 0;
    font-family: Arial, sans-serif;
}
h1, p {
    margin: 1px 0;
    font-size: 24px;
}
h2{
    font-size: 26px;
    margin: 4px 0;
}
h3{
    font-size: 16px;
    margin: 6px 0;
}
p {
    font-size: 11px;
}

.ad-container {
    width: 300px;
    height: 250px;
    position: relative;
    background-color: #fff;
    border: 1px solid #ccc;
    overflow: hidden;
}
  
.frame {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 1rem;
    padding-right: 0.25rem;
    display: flex;
    flex-flow: column;
    background: url('/assets/300x250_DCO_MockTest_BG.png') no-repeat;
    background-size: cover;
    opacity: 0; /* Initially hidden */
    animation: fadeInBackground 1s forwards ease-in; /* Fade-in animation */
}
.particle-container {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;
  }
  
  .particle {
    width: 5px;
    height: 5px;
    border-radius: 50%;
    position: absolute;
  }
  
@keyframes fadeInBackground {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.logo {
    width: 100px;
}

.frame1-content {
    margin: auto 0;
    text-align: left;
}

/* Frame 2 */

.frame2-content {
    display: none;
    /* display: flex; */
    align-items: center;
    justify-content: space-between;
}
.frame2-content .frame-content-text{
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    height: 100%;
}
.headline-highlighted {
    color: var(--primary-color);
}

.headline {
    color: var(--secondary-color);
}

/* Price */
.price {
    font-weight: bold;
    color: var(--primary-color);
    text-align: left;
    display: flex;
    align-items:flex-start;
}
.price > span{
    margin: 0 1px;
}

.price-small {
    font-size: 14px;
    line-height: 2.4;
}

.price-large {
    font-size: 48px; 
    line-height: 1;
}

.price-medium {
    font-size: 24px;
    line-height: 1.2;
}

/* Terms btn */
.terms-btn {
    position: absolute;
    bottom: 10px;
    left: 10px;
    font-size: 12px;
    background: none;
    border: none;
    color: #000;
    cursor: pointer;
}

/* Carousel */
.carousel {
    position: relative;
    width: 140px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    box-sizing: border-box;
}

.product-image {
    width: 100%;
    height: 110px;
    object-fit: contain;
}
.product-image:hover{
    scale: 1.15;
}
.dots {
    display: flex;
    justify-content: center;
    margin: 10px 0;
}

.dot {
    height: 10px;
    width: 10px;
    margin: 0 5px;
    background-color: #bbb;
    border-radius: 50%;
    display: inline-block;
    cursor: pointer;
}

.dot.active {
    background-color: var(--secondary-color);
}

.learn-more-btn {
    font-size: 16px;
    background-color: var(--primary-color);
    color: white;
    padding: 5px 10px;
    border: none;
    cursor: pointer;
    border-radius: 4px;
    margin-top: auto;
}

.learn-more-btn:hover {
    transform: scale(1.1);
    background-color: #eee;
    color: var(--primary-color);
    font-weight: 700;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
}

/* Modal Styles */
.modal-overlay {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.6);
    display: none;
    justify-content: center;
    align-items: center;
    z-index: 1000;
}

.modal-content {
    background: #333; 
    padding: 15px;
    border-radius: 12px; 
    position: relative;
    color: #f1f1f1; 
    box-shadow: 0 5px 15px rgba(0, 0, 0, 0.5); 
    animation: modalFadeIn 0.4s ease-in-out;
}

@keyframes modalFadeIn {
    from {
        transform: scale(0.9);
        opacity: 0;
    }
    to {
        transform: scale(1);
        opacity: 1;
    }
}

.close-modal {
    position: absolute;
    top: 10px; 
    right: 15px;
    background: none;
    border: none;
    font-size: 24px;
    cursor: pointer;
    color: #f1f1f1; 
    transition: color 0.3s ease-in-out; 
}

.close-modal:hover {
    color: var(--primary-color);
}
